/ClientDAO.class
/CredentialsDAO.class
/EventDAO.class
/InterventionCoordinateDAO.class
/InterventionDAO.class
/ReportDAO.class
/RoadReportDAO.class
/SessionDAO.class
/SubscriptionDAO.class
/UserDAO.class
/VehicleDAO.class
